python-dotenv
livekit
livekit-agents==1.1.7
livekit-plugins-openai==1.1.7
livekit-plugins-groq==1.1.7
livekit-plugins-silero==1.1.7
supabase
pydantic
langchain-core
langchain-openai
langchain-groq
langgraph
firebase-admin
